body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #262626;
  color: #fff;
}

.morado {
  height: 100vh;
}

.lila {
  height: 100vh;
}


/* Sidenav */

.btn-floating {
  background: #51D2B7;
  opacity: 0.8;
}

.sidenav-trigger {
  margin: 10px;
}

/* home */

#particles-js {
  height: 100%;
  background: #262626;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-welcome {
  width: 550px;
  height: 550px;
  background-color: #51D2B7;
  opacity: 0.8;
  border-radius: 100%;
  position: absolute;
  font-weight: 800;
  color: #fff;
  justify-content: center;
  align-content: center;
  text-align: center;
}

/* Acerca de mi */

#sobre {
  margin-top: 100px;
}

.texto {
  margin-top: 100px;
}

/* skills */

.sk {
  justify-content: center;
  align-content: center;
  text-align: center;
}

/* proyectos */
.card-img-top {
  width: 100%;
}

.cont {
  padding: 80px;
  color: #51D2B7;
  opacity: 0.8;
}

h1 {
  align-content: center;
  text-align: center;
}