body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #262626;
  color: #fff;
}

.morado {
  height: 100vh;
}

.lila {
  height: 100vh;
}


/* Sidenav */

.btn-floating {
  background: #51D2B7;
  opacity: 0.8;
}

.sidenav-trigger {
  margin: 10px;
}

/* home */

#particles-js {
  height: 100%;
  background: #262626;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-welcome {
  width: 550px;
  height: 550px;
  background-color: #51D2B7;
  opacity: 0.8;
  border-radius: 100%;
  position: absolute;
  font-weight: 800;
  color: #fff;
  justify-content: center;
  align-content: center;
  text-align: center;
}

/* Acerca de mi */

.responsive-img {
  width: 80%;
  display: flex;
   justify-content: center;
   align-items: center;
}

#sobre {
  margin-top: 100px;
}

.texto {
  margin-top: 100px;
}

/* skills */

.sk {
  justify-content: center;
  align-content: center;
  text-align: center;
}

h5 {
  color: #51D2B7;
  opacity: 0.8;
}

.skill{
  font-size: 4em;
}

#iconMat {
  height: 60px;
}



/* proyectos */

.card {
  background-color: #262626;
}

.card-image {
  height: 300px;
  background-color: #fff;
  display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   border-radius: .5em .5em 0 0;
}

.card-content{
  height: 220px;
  background-color: teal;

}

.card-action {
  justify-content: center;
  align-content: center;
  text-align: center;
  color: #51D2B7;
  opacity: 0.8;
  background-color: gray ;
}

.card .card-action {
  border-radius: 0 0 .5em .5em;
  background-color: gray ;
}

.cont {
  color: #51D2B7;
  opacity: 0.8;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.aa {
  color: teal !important;
}

h2 {
  align-content: center;
  text-align: center;
}

@media (max-width: 768px) {

  .container-welcome {
    width: 300px;
    height: 300px;
  }

  .container-welcome h1 {
    font-size: 2.6em; 
    margin-bottom: 0;
  }
  .container-welcome h4 {
    font-size: 1.2em;
    font-weight: bold;
  }

  h1 {
    font-size: 2.0em; 
    margin-bottom: 0;
  }

  #skills {
    padding: 10px 0;
  }

  .card {
    width: 250px;
  }

  .card-image {
  width: 100%; 
  }

} 